.graph {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.itemPanel {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  height: 100vh;
  overflow: auto;

  .item {
    margin-bottom: 24px;
    user-select: none;

    img {
      display: block;
    }
  }

}
